{% extends "base.html" %}

{% block title %}Добавить бой{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Добавить бой</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert alert-warning">
                {% for category, message in messages %}
                    <p> {{ message }}</p>
                {% endfor %}
                <!--<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>-->
            </div>
        {% endif %}
    {% endwith %}

    <form id="addFighterForm" method="POST" action="/sessions/{{ session_id }}/add_fight" class="shadow p-4 rounded bg-white">
        <div class="mb-3">
            <label for="session_id" class="form-label">ID сессии:</label>
            <input type="text" id="session_id" name="session_id" class="form-control" value="{{ session_id }}" readonly>
        </div>

        <div class="mb-3">
            <label for="fighter1" class="form-label">Боец 1:</label>
            <select id="fighter1" name="fighter1" class="form-select" required>
                <option value="" disabled selected>Выберите бойца</option>
                {% for fighter in fighters %}
                    <option value="{{ fighter }}">{{ fighter }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label for="score1" class="form-label">Счёт бойца 1:</label>
            <input type="number" id="score1" name="score1" class="form-control" min="0" max="5" required>
        </div>

        <div class="mb-3">
            <label for="fighter2" class="form-label">Боец 2:</label>
            <select id="fighter2" name="fighter2" class="form-select" required>
                <option value="" disabled selected>Выберите бойца</option>
                {% for fighter in fighters %}
                    <option value="{{ fighter }}">{{ fighter }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label for="score2" class="form-label">Счёт бойца 2:</label>
            <input type="number" id="score2" name="score2" class="form-control" min="0" max="5" required>
        </div>

        <div class="d-grid">
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
    </form>
</div>
{% endblock %}
