{% extends "base.html" %}

{% block title %}Войдите в аккаунт{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Войдите в аккаунт</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert alert-warning">
                {% for category, message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
                <!--<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>-->
            </div>
        {% endif %}
    {% endwith %}

    <form method="POST" action="{{ url_for('login') }}" class="shadow p-4 rounded bg-white">
        <div class="mb-3">
            <label for="username" class="form-label">Пользователь:</label>
            <input type="text" id="username" name="username" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Пароль:</label>
            <input type="password" id="password" name="password" class="form-control" required>
        </div>

        <div class="d-grid">
            <button type="submit" class="btn btn-primary">Войти</button>
        </div>
    </form>
</div>
{% endblock %}